<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wicak.plito">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".LoggedIn"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.materi.kunci.video.VideoKunciPas"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".ui.materi.kunci.video.VideoKunciKombi"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".ui.materi.kunci.video.VideoKunciRing"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".ui.materi.kunci.video.VideoSocket"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".ui.materi.kunci.video.VideoRachet"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".ui.materi.kunci.video.VideoRoda"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".ui.materi.kunci.video.VideoAllen"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".ui.materi.kunci.video.VideoInggris"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".ui.materi.kunci.video.VideoNipel"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".ui.chat.ChatMessage" />
        <activity
            android:name=".SignInActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".SignUpActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ui.materi.tang.MateriEmpat" />
        <activity android:name=".ui.materi.extention.MateriLima" />
        <activity android:name=".ui.materi.obeng.MateriTiga" />
        <activity android:name=".ui.materi.palu.MateriDua" />
        <activity android:name=".ui.materi.kunci.MateriSatu" />
        <activity
            android:name=".ui.materi.kunci.TabsKunci"
            android:label="Kunci"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.materi.palu.TabsPalu"
            android:label="Palu"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.materi.extension.TabsExtension"
            android:label="Extension"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.materi.tang.TabsTang"
            android:label="Tang"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.materi.obeng.TabsObeng"
            android:label="Obeng"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ui.quiz.HasilKuis" />
        <activity android:name=".ui.quiz.MulaiKuis" />
        <activity
            android:name=".BottomActivity"
            android:label="@string/title_activity_bottom" />
        <activity
            android:name=".SplashScreen"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
    </application>

</manifest>